<p>業務詳細</p>
<div class='marker field'>
  <%= form_with model: @business ,url: site_business_path(@business.site,@business), local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
      <%= f.label :business_content_id %><br />
      <%= f.collection_select(:business_content_id, BusinessContent.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :survey_id %><br />
      <%= f.collection_select(:survey_id, Survey.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :development_id %><br />
      <%= f.collection_select(:development_id, Development.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :order_day %><br />
      <%= raw sprintf(
                    f.date_field(
                      :order_day,
                      class:'select-day',
                      id:"witness-date")
                    ) %>
    </div>

    <div class="field">
      <%= f.label :delivery_day %><br />
      <%= raw sprintf(
                    f.date_field(
                      :delivery_day,
                      class:'select-day',
                      id:"witness-date")
                    ) %>
    </div>

    <div class="field">
    <%= f.label :usr_id %><br />
      <select name= "user_id">
        <option value="">担当を選択してください</option>
        <% User.all.each do |user| %>
        <option value=<%= user.id %>><%= user.name %></option>
        <% end %>
      </select>

     <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
</div>
