<p><% @site.name %></p>

<%= link_to '業務登録', new_site_business_schedule_path(params[:id]) %>
<%= link_to '近隣情報' ,new_site_neighbor_path(params[:id]) %>

<p>境界標</p>
<div class='marker field'>
  <%= form_with(model: [@site,@marker], local: true) do |f| %>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :name_cad %><br />
      <%= f.text_field :name_cad %>
    </div>

    <div class="field">
    <%= f.label :exist %><br />
      <%= f.collection_select(:exist_id, Exist.all, :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :type %><br />
      <%= f.collection_select(:type_id, Type.all, :id, :name) %>
    </div>

    <div slass='fields'>
    <%= f.label :images %><br />
      <%= f.file_field :images, name: 'marker[images][]', id: 'marker_images' %>
    </div>
  <% end %>
</div>

<div class='sample_image'>
  <% @marker.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>

<div class='marker lists'>
  <% if @markers.present? %>
    <% @markers.each do |marker| %>
      <div class='marker list'>
        <div class='marker name'>
          <p>点番    <%= marker.name %></p>
          <p>CAD点番   <%= marker.name_cad %></p>
        </div>
        <div class='marker type'>
          <%= marker.exist.name + marker.type.name %>
        </div>
        <div class='marker images'>
          <div class='marker image'>
            <% marker.images.each do |image| %>
              <%= image_tag image.variant(resize: '200x200') %>
            <% end %>
          </div>
        </div>
        <%= link_to '編集', edit_site_marker_path(marker.site,marker) %>
        <%= link_to '削除', site_marker_path(marker.site,marker), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<div class='neighbor lists'>
  <% if @neighbors.present? %>
    <% @neighbors.each do |neighbor| %>
      <div class='neighbor list'>
        <div class='neighbor lot_number'>
          <p>地番   <%= neighbor.lot_number %></p>
        </div>
        <div class='neighbor name'>
          <p>名前   <%= neighbor.name %></p>
        </div>
        <div class='neighbor address'>
          <p>登記簿住所
          <%= neighbor.address  %></p>
          <% if neighbor.address_now.present?%>
            <p>現住所
              <%= neighbor.address_now %></p>
          <% end %>
        </div>
        <% if neighbor.phone_number.present?%>
          <div class='neighbor phone_number'>
            <p>電話番号   <%= neighbor.phone_number %></p>
          </div>
        <% end %>
        <div class='neighbor status'>
          <p><%= neighbor.status.name %></p>
        </div>
        <div class='witness'>
          <% neighbor.witness%>
        </div>
        <div>
            <% neighbor.imprint%>
        </div>
        <%= link_to '編集', edit_site_neighbor_path(neighbor.site,neighbor) %>
        <%= link_to '削除', site_neighbor_path(neighbor.site,neighbor), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>