<div class='content'>
  <div class='title'>
    <h4>現場名  <%=@site.name %></h4>
    <%= link_to '戻る', root_path %>
  </div>
  <div class='business_new'>
    <%= link_to '新規業務登録', new_site_business_path(params[:id]) %>
    <%= link_to '近隣情報' ,new_site_neighbor_path(params[:id]) %>
  </div>
  <% if @businesses.present? %>
    <div class='business_lists'>
      <% @businesses.each do |business| %>
        <div class='business_list'>
          <div class='business_name'>
            <p><%= business.business_content.name %></p>
          </div>
          <div class='person'>
            担当
            <%= business.user.name %>
          </div>
          <div class='business_content'>
            <%= business.order_day.strftime("%Y/%m/%d")%> 
            <% if business.business_content.id == 1%>
              <%= link_to business.survey.name, edit_site_business_path(business.site,business) %>
            <% else %>
              <%= link_to business.development.name, edit_site_business_path(business.site,business) %>
            <% end %>
          </div>
          <div class='business_delete'>
            <%= link_to '削除', site_business_path(business.site,business), method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>


  
  <% if @neighbors.present? %>
    <div class='neighbor_lists'>
      <% @neighbors.each do |neighbor| %>
        <div class='neighbor_list'>
          <div class='neighbor_lot_number'>
            <p>地番   <%= neighbor.lot_number %></p>
          </div>
          <div class='neighbor_name'>
            <p>名前   
            <%= link_to neighbor.name,  edit_site_neighbor_path(neighbor.site,neighbor) %></p>
          </div>
          <div class='neighbor_status'>
            <p><%= neighbor.status.name %></p>
          </div>
          <div class='neighbor_delete'>
            <%= link_to '削除', site_neighbor_path(neighbor.site,neighbor), method: :delete %>
          </div>
          <div class='neighbor_address'>
            <p>登記簿住所
            <%= neighbor.address  %></p>
          </div>
          <div class='witness'>
            <% neighbor.witness%>
          </div>
          <div>
              <% neighbor.imprint%>
          </div>
          
        </div>
      <% end %>
    </div>
  <% end %>


  <p>境界標一覧</p>
  <div class='marker_entire'>
    <div class='marker_lists'>
      <% if @markers.present? %>
        <% @markers.each do |marker| %>
          <div class='marker_list'>
            <div class='marker_name'>
              <p>点番    <%= marker.name %></p>
              <p>CAD点番   <%= marker.name_cad %></p>
            </div>
            <div class='marker type'>
              <%= marker.exist.name + marker.type.name %>
            </div>
            <div class='marker_btn'>
              <%= link_to '編集', edit_site_marker_path(marker.site,marker) %>
              <%= link_to '削除', site_marker_path(marker.site,marker), method: :delete %>
            </div>
            <div class='marker_images'>
              <div class='marker_image'>
                <% marker.images.each do |image| %>
                  <%= image_tag image.variant(resize: '150x150') %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='marker_fields'>
      <p>境界標登録></p>
      <%= form_with(model: [@site,@marker], local: true) do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :name_cad %><br />
          <%= f.text_field :name_cad %>
        </div>

        <div class="field">
        <%= f.label :exist %><br />
          <%= f.collection_select(:exist_id, Exist.all, :id, :name) %>
        </div>

        <div class="field">
          <%= f.label :type %><br />
          <%= f.collection_select(:type_id, Type.all, :id, :name) %>
        </div>

        <div class='image_select'>
        <%= f.label :images %><br />
          <%= f.file_field :images, name: 'marker[images][]', id: 'marker_images' %>
        </div>

        <div class="actions">
          <%= f.submit "登録" %>
        </div>
      <% end %>
    </div>
    
    <div class='sample_image'>
      <% @marker.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    </div>
  </div>

</div>