<!DOCTYPE html>
<html>
  <head>
    <title>SiteManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class='header_content'>
        <div class='root'>
          <%= link_to '現場管理', root_path %>
          <%= link_to 'TOPへ', root_path %>
        </div>
        <div class='user_info'>
          <% if user_signed_in? %>
            <%= link_to current_user.name, users_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
